{% doc %}
  Renders a product card placeholder.

  @param {number} [product_number] - Index of product in list
  @param {number} [columns_mobile] - Product per row on mobile devices. Default: 1
  @param {string} [media_ratio_overwrite] - Local section variable for media ratio ('landscape', 'portrait', 'square').
  @param {string} [color_scheme] - Card color scheme

  @example
  {% render 'product-card-placeholder', product_number: 2 %}
{% enddoc %}

{{ 'component-card-featured.css' | asset_url | stylesheet_tag }}

{% liquid
  assign columns_mobile = columns_mobile | default: 1
  assign media_ratio = settings.featured_card_media_ratio | default: 'portrait'

  assign show_quick_view_button = settings.featured_quickadd_show
  if media_ratio_overwrite != blank
    assign media_ratio = media_ratio_overwrite
  endif

  case media_ratio
    when 'landscape'
      assign padding_bottom = '75%'
    when 'portrait'
      assign padding_bottom = '131.7%'
    when 'square'
      assign padding_bottom = '100%'
    else
      assign padding_bottom = '100%'
  endcase

  # product_number can be from 1 to 4
  if product_number == blank
    assign product_number = 2
  endif

  assign has_sale_price = false
  assign has_sale_badge = false
  assign has_soldout_badge = false
  assign has_custom_badge = false
  assign has_new_badge = false
  if product_number == 1 or product_number == '1'
    assign has_soldout_badge = true
  elsif product_number == 2 or product_number == '2'
    # assign has_swatches = true
  elsif product_number == 3 or product_number == '3'
    assign has_sale_badge = true
    assign has_custom_badge = true
    assign has_sale_price = true
  elsif product_number == 4 or product_number == '4'
    assign has_new_badge = true
  endif
%}

<product-card-featured-placeholder
  class="product-card-featured product-card-featured--placeholder product-card-featured--mobile-{{ columns_mobile }} color-{{ color_scheme }} background"
  style="--card-padding-bottom: {{ padding_bottom }};"
>
  <div class="product-card-featured__inner">
    <div class="product-card-featured__media">
      {{ 'product-apparel-' | append: product_number | placeholder_svg_tag: 'placeholder-svg' }}
    </div>

    {%- if settings.show_new_badge
      or settings.show_sale_badge
      or settings.show_soldout_badge
      or settings.show_custom_badges
    -%}
      <div class="product-card-featured__top">
        {%- if settings.show_new_badge
          or settings.show_sale_badge
          or settings.show_soldout_badge
          or settings.show_custom_badges
        -%}
          <div class="product-card__badges body-small">
            {%- if has_new_badge and settings.show_new_badge -%}
              <span class="badge badge--new">
                {{- 'products.product.new' | t -}}
              </span>
            {%- endif -%}

            {%- if has_soldout_badge and settings.show_soldout_badge -%}
              <span class="badge badge--sold-out" aria-hidden="true">
                {{- 'products.product.sold_out' | t -}}
              </span>
            {%- elsif has_sale_badge and settings.show_sale_badge -%}
              <span class="badge badge--sale" aria-hidden="true">
                {% if settings.sale_badge_type == 'sale' %}
                  {{- 'products.product.on_sale' | t -}}
                {% else %}
                  {{- 'products.product.on_sale' | t -}}
                  <span>
                    <span>-</span>
                    <span>15</span>
                    <span>%</span>
                  </span>
                {% endif %}
              </span>
            {%- endif -%}

            {% if has_custom_badge and settings.show_custom_badges %}
              <span class="badge badge--custom" aria-hidden="true">
                {{- 'products.product.custom_badge_placeholder' | t -}}
              </span>
            {% endif %}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if show_quick_view_button -%}
      {% comment %}
        <div class="product-card__quickview product-card__quickview--mobile-{{ settings.quickview_show_on_mobile }} no-js-hidden">
          <button
            class="product-card__button button button--primary focus-inset"
            disabled
            aria-label="{{ 'general.product_card.quick_view_button' | t }}"
          >
            <div class="button__content">
              <span
                class="product-card__quickview-text button__label"
                data-label="{{ 'general.product_card.quick_view_button' | t }}"
              >
                {{- 'general.product_card.quick_view_button' | t -}}
              </span>
              <span class="product-card__mobile-icon button__icon">
                {% render 'icon-quick-view' %}
              </span>
            </div>
          </button>
        </div>
      {% endcomment %}
      <div class="product-card-featured__quickadd">
        <button
          class="product-card-featured__button button button--primary focus-inset"
          disabled
          aria-label="{{ 'general.product_card.quick_add_button' | t }}"
        >
          <div class="button__content">
            <span
              class="product-card__quickadd-text button__label"
            >
              {% render 'icon-quick-add' %}
            </span>
          </div>
        </button>
      </div>
    {%- endif -%}
  </div>
  <div class="product-card-featured__information">
    <div class="product-card-featured__information-top">
      {%- if settings.show_vendor -%}
        <div class="product-card-featured__vendor subtitle subtitle--small">
          {{- 'products.product.vendor' | t -}}
        </div>
      {%- endif -%}

      <h3 class="product-card-featured__title">
        {{- 'products.product.title_placeholder' | t -}}
      </h3>

      <div class="product-card-featured__price-group">
        {% render 'price', is_placeholder: true, is_placeholder_sale_price: has_sale_price %}
      </div>
    </div>
  </div>
</product-card-featured-placeholder>
