<div class="content-tabs__tab-collapsible-row" {{ block.shopify_attributes }}>
  {% if block.settings.question != blank and block.settings.answer != blank %}
    <div
      class="content-tabs__tab-collapsible-content__item"
      tabindex="0"
    >
      {%- if block.settings.question != blank -%}
        <{{ block.settings.content_heading_tag | default: 'h3' }}
          class="content-tabs__tab-collapsible-content__question body-large"
        >
          {{ block.settings.question | escape }}
          <span class="content-tabs__tab-collapsible-content__question-icon"></span>
        </{{ block.settings.content_heading_tag | default: 'h3' }}>
      {%- endif -%}
      {%- if block.settings.answer != blank -%}
        <div
          class="content-tabs__tab-collapsible-content__answer"
        >
          <div class="content-tabs__tab-collapsible-content__answer-wrapper">
            <div class="content-tabs__tab-collapsible-content__answer-description rte">
              {{ block.settings.answer }}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.content-tabs.blocks.collapsible_content.block.collapsible_row.name",
  "tag": "div",
  "class": "tab-collapsible-row-block",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.collapsible-content.blocks.accordion.info"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible-content.blocks.accordion.settings.header__1.content"
    },
    {
      "type": "text",
      "id": "question",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.collapsible-content.blocks.accordion.settings.question.default"
    },
    {
      "type": "select",
      "id": "content_heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "richtext",
      "id": "answer",
      "label": "t:sections.all.text.label",
      "default": "t:sections.collapsible-content.blocks.accordion.settings.answer.default"
    }
  ],
  "presets": [
    {
      "name": "t:sections.content-tabs.blocks.collapsible_content.block.collapsible_row.name"
    }
  ]
}
{% endschema %}
