{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}
{{ 'section-myduke-collection-products.css' | asset_url | stylesheet_tag }}
{{ 'myduke-search-bar.css' | asset_url | stylesheet_tag }}
{{ 'myduke-main-search.css' | asset_url | stylesheet_tag }}
{%- if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' -%}
  <script src="{{ 'load-more.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.predictive_search_enabled -%}
  {{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'products-per-row.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-margin' %}

  {% if section.settings.enable_filtering or section.settings.enable_sorting %}
    .facets__container:not(.active) {
      visibility: hidden !important;
      pointer-events: none !important;
    }
    .facets__container:not(.active) .facets__wrapper--vertical {
      transform: translateX(100%) !important;
    }
    .facets__container.active {
      visibility: visible !important;
    }
  {% endif %}

  predictive-search .spinner {
    width: 1.5rem;
    height: 1.5rem;
  }
{%- endstyle -%}

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="section-{{ section.id }}-padding template-search {% if search.performed == true and search.results_count == 0 and terms != blank and section.settings.enable_filtering == false and section.settings.enable_sorting == false %} template-search--empty {% endif %}">
  <div class="mds-sticky-bar">
    <div class="template-search__search">
        {%- if section.settings.predictive_search_enabled -%}
          <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          <div class="search-wrapper">
        {% endif %}
        <form
          action="{{ routes.search_url }}"
          method="get"
          role="search"
          class="myduke-search-bar__form"
        >
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[prefix]" value="last">

          <div class="myduke-search-bar__field">
            <input
              class="myduke-search-bar__input"
              id="Search-In-Template"
              dir="ltr"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              autofocus
              {%- if section.settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <button
              class="myduke-search-bar__submit"
              aria-label="{{ 'general.search.search' | t }}"
              type="submit"
            >
              <svg class="myduke-search-bar__arrow" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none" aria-hidden="true">
                <path d="M5 16L27 16" stroke="#218380" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 25L27 16L18 7" stroke="#218380" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>

          {%- if section.settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
                {% render 'icon-loading' %}
              </div>
            </div>
            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>

        {%- if search.performed and search.results_count == 0 and search.filters == empty -%}
          </div>
        {% endif %}
        {%- if section.settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
        {% comment %}
          {%- if search.performed == false
            and section.settings.enable_trending_search
            and section.settings.trending_search_menu != blank
          -%}
            <div class="trending-search">
              {% if section.settings.trending_search_title != blank -%}
                <h3 class="trending-search-title title font--body body-small">
                  {{ section.settings.trending_search_title }}
                </h3>

                {%- if section.settings.trending_search_menu != blank -%}
                  {% assign search_menu = section.settings.trending_search_menu %}
                  <div class="predictive-search-results-wrapper">
                    <div
                      id="trending-search-list"
                      class="predictive-search__results-list list-unstyled"
                      role="group"
                      tabindex="-1"
                    >
                      <div class="header__search-popular-links first-column">
                        {%- for link in search_menu.links limit: 4 -%}
                          <div class="header__search-popular-link-wrapper ">
                            <a
                              href="{{ link.url }}"
                              class="header__search-popular-link hover-underlined-link-secondary body-small focus-inset{% if forloop.index < 5 %} first-column{% else %} second-column{% endif %}"
                              role="option"
                            >
                              <span>{{- link.title | escape -}}</span>
                            </a>
                          </div>
                        {%- endfor -%}
                      </div>

                      {% if search_menu.size > 4 %}
                        <div class="header__search-popular-links second-column">
                          {%- for link in search_menu.links offset: 4 limit: 4 -%}
                            <div class="header__search-popular-link-wrapper ">
                              <a
                                href="{{ link.url }}"
                                class="header__search-popular-link hover-underlined-link-secondary body-small focus-inset{% if forloop.index <span 5 %} first-column{% else %} second-column{% endif %}"
                                role="option"
                              >
                                <span>{{- link.title | escape -}}</span>
                              </a>
                            </div>
                          {%- endfor -%}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {%- endif -%}
              {% endif %}
            </div>
          {%- endif -%}
        {% endcomment %}
    </div>
  </div>
  <div class="template-search__header">
    <div class="search-container container">
      <div class="page-header">
        <div class="page-header__inner">
          {%- if search.performed and search.results_count == 0 -%}
            <h1 class="page-header__inner-title h4" role="status">
              {{ 'templates.search.no_results' | t: terms: search.terms }}
            </h1>
            <p class="page-header__inner-text body-small">
              {{ 'templates.search.no_results_text' | t }}
            </p>
          {%- elsif search.performed and search.results_count == 1 -%}
            <h1 class="page-header__inner-title h4">
              {{ 'templates.search.title.one' | t: count: search.results_count }}: "{{ terms }}"
            </h1>
          {%- elsif search.performed and search.results_count > 1 -%}
            <h1 class="page-header__inner-title h4">
              {{ 'templates.search.title.many' | t: count: search.results_count }}: "{{ terms }}"
            </h1>
          {%- else -%}
            <h1 class="page-header__inner-title h4">{{- 'general.search.search' | t -}}</h1>
          {%- endif -%}
        </div>
        {%- if section.settings.show_contact_text and search.results_count != 0 -%}
          {%- if section.settings.contact_text != blank -%}
            <div class="search__description">
              {{- section.settings.contact_text -}}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>

  {%- if search.performed -%}
    {% liquid
      assign filter_show = false
      for filter in search.filters
        if filter.range_max != 0
          assign filter_show = true
        endif
      endfor
    %}

    <div class="container">
      {% comment %} ACTIVE DESKTOP FILTERS {% endcomment %}
      <div
        class="
          collection-wrapper collection-wrapper--{{ section.settings.columns }}
          collection-wrapper--vertical
        "
      >
        {%- if search.filters != empty -%}
          {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
            {% render 'facets',
              results: search,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              image_filter_ratio: section.settings.image_filter_ratio,
              image_filter_fit: section.settings.image_filter_fit,
              image_filter_columns: section.settings.image_filter_columns,
              enable_reset_per_type: section.settings.enable_reset_per_type,
              total_selected_filters: section.settings.enable_total_selected
            %}
          {%- endif -%}
        {%- endif -%}
        {% if search.results.size > 0 %}
          {% liquid
            assign search_products = search.results | where: 'object_type', 'product'
            assign search_products_size = search_products | size
          %}
          {% if search_products_size > 0 %}
            {% if section.settings.enable_filtering or section.settings.enable_sorting %}
              <div class="collection-top">
                <div class="collection-top__container">
                  {% if section.settings.enable_filtering %}
                    <div class="collection-top__container-left">
                      <button
                        type="button"
                        data-desktop-modal="FacetsWrapperDesktop-{{ section.id }}"
                        class="button facets-button-show vertical no-js-hidden focus-inset"
                      >
                        <span class="show-label" aria-label="{{ 'products.facets.filters' | t }}">
                          {%- render 'icon-filter' -%}
                        </span>
                        <span class="hide-label hidden" aria-label="{{ 'accessibility.close' | t }}">
                          {%- render 'icon-filter' -%}
                        </span>
                        <span class="button__label" data-label="{{ 'products.facets.filters' | t }}">
                          {{ 'products.facets.filters' | t -}}
                        </span>
                      </button>
                    </div>
                  {% endif %}

                  {%- if section.settings.enable_sorting -%}
                    <div class="collection-top__container-right">
                      <facet-filters-form class="no-js-hidden">
                        <form id="FacetSortForm" class="facets-sorting">
                          {% comment %}
                            <div class="facets-sorting__label">
                              {{- 'products.facets.sort_by_label' | t -}}
                            </div>
                          {% endcomment %}
                          <div class="facet-filters__field facets-sorting__field">
                            {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}

                            <div class="facet-sort-select">
                              <input
                                class="facet-sort-select__input"
                                type="hidden"
                                name="sort_by"
                                id="SortBy"
                                value="{{ sort_by }}"
                                aria-describedby="a11y-refresh-page-message"
                              >
                              <div class="facet-sort-select__select focus-inset button button--secondary" tabindex="0">
                                <div class="facet-sort-select__icon">
                                  {% render 'icon-sort' %}
                                </div>
                                <span class="facet-sort-select__current body-normal">
                                  {%- for option in search.sort_options -%}
                                    {% if option.value == sort_by %}
                                      {{- option.name | escape -}}
                                    {% endif %}
                                  {%- endfor -%}
                                </span>
                              </div>
                              <div
                                class="facet-sort-modal"
                                role="dialog"
                                aria-modal="true"
                                tabindex="-1"
                              >
                                <div class="facet-sort-modal__overlay"></div>
                                <div class="facet-sort-modal__inner">
                                  <div class="facets-modal__header">
                                    <div class="facets-modal__heading-wrapper">
                                      {%- render 'icon-sort' -%}
                                      <div class="facets-modal__heading body-large">
                                        {{ 'products.facets.sort_by_label' | t }}
                                      </div>
                                    </div>

                                    {% render 'modal-close-button',
                                      class: 'facets-modal__close facet-sort-modal__close',
                                      only_icon: true
                                    %}
                                  </div>
                                  <div class="facet-sort-select__options-wrapper">
                                    <div class="facet-sort-select__options">
                                      {%- for option in search.sort_options -%}
                                        <div
                                          class="facet-sort-select__option focus-inset{% if option.value == sort_by %} facet-sort-select__option--selected{% endif %}"
                                          data-value="{{ option.value | escape }}"
                                          tabindex="0"
                                        >
                                          <span class="circle-check"></span>
                                          {{- option.name | escape -}}
                                          {% comment %}{% render 'icon-check' %}{% endcomment %}
                                        </div>
                                      {%- endfor -%}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </facet-filters-form>
                      <noscript>
                        <facet-filters-form class="small-hide">
                          <form id="FacetSortForm" class="facets-sorting">
                            <label class="facets-sorting__label" for="SortByNoScript">
                              {{- 'products.facets.sort_by_label' | t -}}
                            </label>
                            <div class="facet-filters__field facets-sorting__field">
                              {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                              <div class="select field">
                                <select
                                  name="sort_by"
                                  class="select__select focus-inset"
                                  id="SortByNoScript"
                                  aria-describedby="a11y-refresh-page-message"
                                >
                                  {%- for option in search.sort_options -%}
                                    <option
                                      value="{{ option.value | escape }}"
                                      {% if option.value == sort_by %}
                                        selected="selected"
                                      {% endif %}
                                    >
                                      {{ option.name | escape }}
                                    </option>
                                  {%- endfor -%}
                                </select>
                                {% render 'icon-caret' %}
                              </div>
                            </div>
                            <button type="submit" class="button button--tertiary focus-inset">
                              {{- 'products.facets.sort_button' | t -}}
                            </button>
                          </form>
                        </facet-filters-form>
                      </noscript>
                    </div>
                  {%- endif -%}
                </div>
                {%- if section.settings.enable_filtering -%}
                  <div class="facets__top facets small-hide">
                    <div class="active-facets active-facets-desktop" data-type="filters">
                      {% assign active_facets = false %}
                      {%- for filter in search.filters -%}
                        {% if filter.active_values.size > 0
                          or filter.min_value.value != null
                          or filter.max_value.value != null
                        %}
                          {% assign active_facets = true %}
                          {% break %}
                        {% endif %}
                      {% endfor %}

                      <div class="active-facets__wrapper {% if active_facets %} active-facets__wrapper_margin {% endif %}">
                        {%- for filter in search.filters -%}
                          {%- for value in filter.active_values -%}
                            <facet-remove>
                              <a href="{{ value.url_to_remove }}" class="active-facets__button focus-inset">
                                <span class="active-facets__button-inner body-normal">
                                  <span>{{ value.label | escape }}</span>
                                  {% render 'icon-close' %}
                                </span>
                                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                              </a>
                            </facet-remove>
                          {%- endfor -%}
                          {% if filter.type == 'price_range' %}
                            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                              <facet-remove>
                                <a href="{{ filter.url_to_remove }}" class="active-facets__button focus-inset">
                                  <span class="active-facets__button-inner body-normal">
                                    <span>
                                      {%- if filter.min_value.value -%}
                                        {{ filter.min_value.value | money }}
                                      {%- else -%}
                                        {{ 0 | money }}
                                      {%- endif -%}
                                      —
                                      {% if filter.max_value.value %}
                                        {{ filter.max_value.value | money }}
                                      {% else -%}
                                        {{ filter.range_max | money }}
                                      {%- endif -%}
                                    </span>
                                    {% render 'icon-close' %}
                                  </span>
                                  <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                                </a>
                              </facet-remove>
                            {%- endif -%}
                          {% endif %}
                        {%- endfor -%}
                        {% comment %}
                          <facet-remove>
                            <a href="{{ search_url }}" class="active-facets__button-remove focus-inset body-small">
                              <span>{{ 'products.facets.clear_all' | t }}</span>
                            </a>
                          </facet-remove>
                        {% endcomment %}
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
        <div
          id="ProductGridContainer"
          data-products-in-row="{{ section.settings.default_per_row }}"
          class="products-grid {% if section.settings.enable_filtering == false or filter_show == false %} products-grid_no-filter {%- endif -%}"
        >
          {% paginate search.results by 24 %}
            {%- if search.results.size == 0 and search.filters != empty -%}
              <div
                class="template-search__results collection collection-product collection--empty"
                id="product-grid"
                data-id="{{ section.id }}"
              >
                <div class="loading-overlay">
                  <div class="loading-overlay__spinner">
                    {% render 'icon-loading' %}
                  </div>
                </div>
                <div class="title-wrapper">
                  <h2 class="h6 richtext-link-inside">
                    {{ 'sections.collection_template.empty_results' | t }}
                    <br>
                    {{ 'sections.collection_template.results_use_fewer_filters_html' | t: link: search_url }}
                  </h2>
                </div>
              </div>
            {%- else -%}
              <div
                class="template-search__results collection collection-product"
                id="product-grid"
                data-id="{{ section.id }}"
              >
                <div class="loading-overlay">
                  <div class="loading-overlay__spinner">
                    {% render 'icon-loading' %}
                  </div>
                </div>

                {% liquid
                  assign search_products = search.results | where: 'object_type', 'product'
                  assign search_products_size = search_products | size
                  assign search_articles = search.results | where: 'object_type', 'article'
                  assign search_articles_size = search_articles | size
                  assign search_pages = search.results | where: 'object_type', 'page'
                  assign search_pages_size = search_pages | size
                %}

                {% if search_products_size != 0 %}
                  <div class="search-results__top">
                    <div class="search-results__title body-normal">
                      {{- 'templates.search.item_count' | t: count: search_products_size -}}
                    </div>
                  </div>
                  <ul class="mdcp__grid mds-search-grid" role="list">
                    {%- for item in search_products -%}
                      <li>
                        <a class="mdcp__card" href="{{ item.url }}">
                          <div class="mdcp__card-image-wrap">
                            {%- if item.featured_image -%}
                              <img
                                src="{{ item.featured_image | image_url: width: 600 }}"
                                alt="{{ item.featured_image.alt | escape }}"
                                loading="lazy"
                                width="{{ item.featured_image.width }}"
                                height="{{ item.featured_image.height }}"
                              >
                            {%- else -%}
                              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            {%- endif -%}
                          </div>
                          <div class="mdcp__card-body">
                            <p class="mdcp__card-title">{{ item.title }}</p>
                            <p class="mdcp__card-price">
                              {{ item.price | money }}
                              {%- if item.compare_at_price > item.price -%}
                                <span class="mdcp__card-price--compare">{{ item.compare_at_price | money }}</span>
                              {%- endif -%}
                            </p>
                          </div>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}

                {% if search_articles_size != 0 %}
                  <div class="search-results__top ">
                    <div class="search-results__title body-normal">
                      {{- 'templates.search.article_count' | t: count: search_articles_size -}}
                    </div>
                  </div>
                  <div
                    class="
                      collection-results collection-results--articles margin_article--cards
                      collection-product-list--3
                      {% if section.settings.enable_filtering == false or filter_show == false %} collection-results_no-filter {%- endif -%}
                    "
                    role="list"
                  >
                    {%- for item in search_articles -%}
                      {%- case item.object_type -%}
                        {%- when 'article' -%}
                          <div class="template-search__item article article--card">
                            {% render 'article-card-small',
                              article: item,
                              article_heading_font_size: section.settings.article_heading_font_size,
                              article_heading_tag: section.settings.article_heading_tag,
                              object_fit: section.settings.object_fit,
                              aspect_ratio: section.settings.article_image_ratio,
                              show_image: section.settings.show_image,
                              show_date: section.settings.show_date,
                              show_author: section.settings.show_author,
                              show_tags: section.settings.show_tags,
                              show_excerpt: section.settings.show_excerpt
                            %}
                          </div>
                      {%- endcase -%}
                    {%- endfor -%}
                  </div>
                {% endif %}

                {% if search_pages_size != 0 %}
                  <div class="search-results__top ">
                    <div class="search-results__title body-normal">
                      {{ 'templates.search.page_count' | t: count: search_pages_size }}
                    </div>
                  </div>
                  <div
                    class="
                      collection-results collection-results--pages margin_article--cards
                      {% if section.settings.enable_filtering == false or filter_show == false %} collection-results_no-filter {%- endif -%}
                    "
                    role="list"
                  >
                    {%- for item in search_pages -%}
                      {%- case item.object_type -%}
                        {%- when 'page' -%}
                          <div class="template-search__item page--card">
                            {% render 'page-card', url: item.url, title: item.title %}
                          </div>
                      {%- endcase -%}
                    {%- endfor -%}
                  </div>
                {% endif %}

                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate %}
                {%- endif -%}
              </div>
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

<script>
  (() => {
    function initSearch() {
      const input = document.querySelector('#Search-In-Template');

      if (input.closest('predictive-search')) return;
      if (!input) return;

      const form = input.form;
      const resetBtn = form?.querySelector('.search__button--reset');

      input.focus();
      const length = input.value.length;
      input.setSelectionRange(length, length);

      input?.addEventListener('input', (event) => {
        if (resetBtn) {
          resetBtn.style.display = event.target.value ? 'flex' : 'none';
        }
      });

      resetBtn?.addEventListener('click', (event) => {
        event.preventDefault();
        if (input) {
          input.value = '';
          input.focus();
        }
        if (resetBtn) resetBtn.style.display = 'none';
      });
    }
    window.addEventListener('load', initSearch);
  })();
</script>

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section-search",
  "settings": [
    {
      "type": "checkbox",
      "id": "predictive_search_enabled",
      "default": true,
      "label": "t:sections.main-search.settings.predictive_search_enabled.label"
    },
    {
      "type": "checkbox",
      "id": "show_contact_text",
      "default": true,
      "label": "t:sections.footer.settings.show_contact_text.label"
    },
    {
      "type": "textarea",
      "id": "contact_text",
      "label": "t:sections.footer.settings.contact_text.label",
      "default": "t:sections.header.blocks.search_modal.settings.contact_text.default",
      "visible_if": "{{ section.settings.show_contact_text }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.per_row.header.content"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 6,
      "label": "t:sections.main-collection-product-grid.settings.columns.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.card.header_product_card.content"
    },
    {
      "type": "checkbox",
      "id": "show_quick_view",
      "default": true,
      "label": "t:sections.all.card.show_quick_view.label",
      "info": "t:sections.all.card.show_quick_view.info",
      "visible_if": "{{ settings.quickview_show == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "article_heading_font_size",
      "options": [
        {
          "value": "body-normal",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        }
      ],
      "default": "body-normal",
      "label": "t:sections.blog-posts.settings.article_heading_font_size.label"
    },
    {
      "type": "select",
      "id": "article_heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.blog-posts.settings.article_heading_tag.label",
      "info": "t:sections.all.heading_tag.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_total_selected",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_total_selected.label",
      "visible_if": "{{ section.settings.enable_filtering == true }}"
    },
    {
      "type": "checkbox",
      "id": "enable_reset_per_type",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_reset_per_type.label",
      "visible_if": "{{ section.settings.enable_filtering == true }}"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.image_filter.content"
    },
    {
      "type": "select",
      "id": "image_filter_ratio",
      "options": [
        {
          "value": "3/2",
          "label": "t:sections.all.card.image_ratio.options__1.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.all.card.image_ratio.options__2.label"
        },
        {
          "value": "1/1",
          "label": "t:sections.all.card.image_ratio.options__3.label"
        }
      ],
      "default": "3/4",
      "label": "t:sections.all.card.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_filter_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.all.card.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.all.card.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.all.card.image_fit.label"
    },
    {
      "type": "range",
      "id": "image_filter_columns",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-collection-product-grid.settings.image_filter_columns.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "xl",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}
