{{ 'section-myduke-guided-support.css' | asset_url | stylesheet_tag }}

<section class="myduke-guided-support">
  <div class="myduke-guided-support__inner {% if section.settings.flex_reverse %}reverse{% endif %}">
    <div class="myduke-guided-support__image">
      {% if section.settings.left_image != blank %}
        <img
          src="{{ section.settings.left_image | image_url: width: 1200 }}"
          alt="{{ section.settings.heading | escape }}"
          loading="lazy"
        >
      {% endif %}
    </div>

    <div class="myduke-guided-support__content">
      {% if section.settings.eyebrow != blank %}
        <span class="myduke-guided-support__eyebrow">
          {{ section.settings.eyebrow }}
        </span>
      {% endif %}

      {% if section.settings.heading != blank %}
        <h2 class="myduke-guided-support__heading">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      <div class="myduke-guided-support__cards">
        {% for block in section.blocks %}
          <div class="myduke-guided-support__card" {{ block.shopify_attributes }}>
            
            <div class="myduke-guided-support__card-top" role="button" tabindex="0" aria-expanded="false">
                <div class="myduke-guided-support__card-icon-wrapper">
                {% if block.settings.icon_svg != blank %}
                    {{ block.settings.icon_svg }}
                {% elsif block.settings.icon != blank %}
                    <img
                    src="{{ block.settings.icon | image_url: width: 80 }}"
                    alt="{{ block.settings.title | escape }}"
                    loading="lazy"
                    >
                {% endif %}
                
                </div>

                {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
                {% endif %}
                <div class="myduke-guided-support__card_icon_mobile">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="6.5" width="12" height="1" fill="#264653"/>
                    <rect x="6.5" y="1" width="1" height="12" fill="#264653"/>
                    </svg>
                </div>
            </div>

            {% if block.settings.list_items != blank %}
              <ul>
                {% assign items = block.settings.list_items | newline_to_br | split: '<br />' %}
                {% for item in items %}
                  {% if item != blank %}
                    <li class="myduke-guided-support__row">
                      <div class="myduke-list__icon-wrapper">
                        {% if section.settings.li_icon_svg != blank %}
                          {{ section.settings.li_icon_svg }}
                        {% elsif section.settings.li_icon != blank %}
                          <img 
                              src="{{ section.settings.li_icon | image_url: width: 40 }}" 
                              alt="" 
                              loading="lazy" 
                          />
                        {% endif %}
                      </div>
                      <span class="myduke-list__text">{{ item | strip }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_link }}" class="myduke-guided-support__button">
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</section>

<script src="{{ 'myduke-guided-support.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Guided Support(Myduke)",
  "tag": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow Text",
      "default": "Your Trusted Clinic"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Guided, Compliant Support"
    },
    {
      "type": "image_picker",
      "id": "li_icon",
      "label": "List Icon"
    },
    {
      "type": "html",
      "id": "li_icon_svg",
      "label": "List Icon SVG Code",
      "info": "Paste raw <svg>...</svg> code here. If filled, this will override the image selector below."
    },
    {
      "type": "checkbox",
      "id": "flex_reverse",
      "label": "Reverse Columns",
      "default": false
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Start Your Assessment"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Support Card",
      "settings": [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "Inline SVG Code",
          "info": "Paste raw <svg>...</svg> code here. If filled, this will override the image picker below."
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "list_items",
          "label": "List Items",
          "info": "Add one item per line"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guided Support(MyDuke)"
    }
  ]
}
{% endschema %} 