{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}
{%- endstyle -%}

<div
  class="product-recommendations section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} background mydk-product-container-auth"
  style="--gap: 24px;"
  data-list-id="{% if collection %}{{ collection.id }}{% else %}all{% endif %}"
data-list-name="{% if collection %}{{ collection.handle | capitalize }}{% else %}All{% endif %}"
>
  <product-recommendations
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_limit }}"
    data-layout="{{ section.settings.layout }}"
  >
    {%- if recommendations.performed -%}
      {%- if recommendations.products_count > 0 -%}
        {% comment %} RENDER HEADING GROUP {% endcomment %}
        {%- liquid
          assign has_slider_controls = false
          if section.settings.layout == 'slider' and section.settings.enable_slider_controls
            assign has_slider_controls = true
          endif
        -%}
        {% render 'heading-group',
          settings: section.settings,
          class: 'product-recommendations-header',
          has_slider_controls: has_slider_controls
        %}

        {% comment %} RENDER MAIN CONTENT {% endcomment %}
        <div
          class="product-recommendations__layout container product-recommendations__layout--spacing-gap{% if section.settings.layout == 'slider' %} js-recommendation-slider swiper{% endif %}"
          {% if section.settings.layout == 'slider' %}
            data-products-per-row="{{ section.settings.products_per_row }}"
            data-products-per-row-mobile="{{ section.settings.products_per_row_mobile }}"
            data-space-between="24"
          {% endif %}
        >
          <div class="product-recommendations__list product-recommendations__list--{{ section.settings.products_per_row }} product-recommendations__list--mobile-{{ section.settings.products_per_row_mobile }} product-recommendations__list--{{ section.settings.layout }}{% if section.settings.layout == 'slider' %} swiper-wrapper{% endif %}">
            {%- for recommendation in recommendations.products -%}
              <div class="product-recommendations__item{% if section.settings.layout == 'slider' %} swiper-slide{% endif %}">
                {% render 'product-card',
                  product_card_product: recommendation,
                  section_obj: section,
                  section_id: section.id,
                  forloop_index: forloop.index,
                  columns: section.settings.products_per_row,
                  columns_mobile: section.settings.products_per_row_mobile,
                  show_quick_view_overwrite: section.settings.show_quick_view,
                  heading_tag: 'h3'
                %}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="product-recommendations__loading" style="display: none;">
        {% render 'icon-loading' %}
      </div>
    {%- endif -%}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "product-recommendations-section",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.all.section_layout.label",
      "options": [
        {
          "value": "slider",
          "label": "t:sections.all.section_layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.all.section_layout.options__2.label"
        }
      ],
      "default": "slider"
    },
    {
      "type": "range",
      "id": "products_limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "t:sections.product-recommendations.settings.products_limit.label"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.all.products_per_row.label"
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "default": "1",
      "label": "t:sections.all.products_per_row_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.products_per_row_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.products_per_row_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_heading_group.header.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "t:sections.product-recommendations.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_font",
      "options": [
        {
          "value": "heading",
          "label": "t:sections.all.heading_font.options__1.label"
        },
        {
          "value": "body",
          "label": "t:sections.all.heading_font.options__2.label"
        }
      ],
      "default": "heading",
      "label": "t:sections.all.heading_font.label",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        }
      ],
      "default": "h5",
      "label": "t:sections.all.heading_size.label",
      "visible_if": "{{ section.settings.heading != blank and section.settings.heading_font == 'heading' }}"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.all.heading_tag.options__7.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_tag.label",
      "info": "t:sections.all.heading_tag.info",
      "visible_if": "{{ section.settings.heading != blank }}"
    },
		{
      "type": "checkbox",
      "id": "enable_slider_controls",
      "label": "t:sections.all.section_heading_group.enable_slider_controls.label",
      "default": true,
      "visible_if": "{{ section.settings.layout == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_button_show",
      "label": "t:sections.all.button.button_show.label",
      "default": false
    },
    {
      "type": "text",
      "id": "heading_group_button_label",
      "label": "t:sections.all.button.button_label.label",
      "default": "t:sections.all.button.button_label.default_shop_all",
      "visible_if": "{{ section.settings.heading_group_button_show == true }}"
    },
    {
      "type": "url",
      "id": "heading_group_button_link",
      "label": "t:sections.all.button.button_link.label",
      "visible_if": "{{ section.settings.heading_group_button_show == true }}"
    },
    {
      "type": "select",
      "id": "heading_group_button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        },
          {
            "value": "secondary2",
            "label": "t:sections.all.button.button_style.options__4.label"
          },
          {
            "value": "accent",
            "label": "t:sections.all.button.button_style.options__5.label"
          }
      ],
      "default": "tertiary",
      "label": "t:sections.all.button.button_style.label",
      "visible_if": "{{ section.settings.heading_group_button_show }}"
    },
    {
      "type": "checkbox",
      "id": "heading_group_enable_border_bottom",
      "default": true,
      "label": "t:sections.all.borders.enable_border_bottom.label",
      "visible_if": "{{ section.settings.heading != blank or section.settings.subheading != blank or section.settings.heading_group_button_show or section.settings.enable_slider_controls }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.card.header_product_card.content"
    },
    {
      "type": "checkbox",
      "id": "show_quick_view",
      "default": true,
      "label": "t:sections.all.card.show_quick_view.label",
      "info": "t:sections.all.card.show_quick_view.info",
      "visible_if": "{{ settings.quickview_show == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-padding.header.content"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_top.label"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-padding.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-padding.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-padding.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-padding.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-padding.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-padding.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-padding.padding_bottom.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "xl",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name",
      "category": "t:sections.categories.products"
    }
  ]
}
{% endschema %}
